<div class="ml-3 mt-1">
	<%= render 'shared/notice', notice: notice %>
	<div>
		<h1 class="text-4xl font-medium mb-2">
			<%= I18n.t('views.headers.edit', model: I18n.t('activerecord.models.reminder.one') ) %>
		</h1>
	</div>

	<%= render 'form', reminder: @reminder %>
	
</div>