<div class="mb-4 text-sm">
  <fieldset class="grid grid-cols-12 my-2 gap-y-2">
      <div class="field col-span-12 lg:col-span-5 xl:col-span-3">
        <%= builder.input :quantity, input_html: {class: 'rounded-md shadow-sm border-gray-400 focus:ring-transparent mx-2'} %>
      </div>
      <div class="field col-span-12 lg:col-span-4 xl:col-span-2">
        <%= builder.input :supply_id, collection: @supplies, input_html: {class: 'rounded-md shadow-sm border-gray-400 focus:ring-transparent mx-2'} %>
      </div>    
  </fieldset>
</div>
