<div class="fields">
  <fieldset>
      <div class="field">
        <%= f.input :quantity %>
      </div>
      <div class="field">
        <%= f.input :supply_id, collection: @supplies %>
      </div>    
  </fieldset>
</div>
