<% if alert %>
  <br>
  <div class="alert alert alert-dismissible" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h5><p id="alert"><%= alert['message'] %></p></h5>
  </div>
<% end %>