<% if notice %>
	<br>
  <div class="flex my-1 mx-2 p-3 w-full lg:w-1/2 bg-green-500 rounded-md shadow-sm font-medium text-white" >
    <p id="notice" class="w-11/12"><%= notice['message'] %></p>
    <button type="button" class="close flex w-1/12 place-self-end" data-dismiss="alert">&times;</button>
  </div>
<% end %>