<div>
  <fieldset>
    <div class="field">
      <%= builder.input :quantity %>
    </div>
    <div class="field">
      <%= builder.input :product_id, collection: @products %>
    </div>
  </fieldset>
</div>