<div>
	<%= render 'shared/notice', notice: notice %>
	<div>
		<h1><%= I18n.t('views.headers.edit', model: I18n.t('activerecord.models.product.one') ) %></h1>
	</div>

	<div>
		<%= render 'form', product: @product %>
	</div>
</div>